<html>
    <head>
        <title>Settings - Clarity</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/scripts_server/jquery/dist/jquery.min.js"></script>
        <script src="/scripts/partials/navbar.js"></script>
        <script src="/scripts_server/socket.io-client/dist/socket.io.js"></script>
        <script src="/scripts/settings.js"></script>
    </head>
    <body>
        <% include partials/navbar.ejs %>
        <div class="container-generic">
            <div class="header">
                <h1>Settings</h1>
            </div>
            
            <ul class="tabs">
                <li class="btn tab-link active" tab="server">Server</li>
                <li class="btn tab-link" tab="playback">Playback</li>
                <li class="btn tab-link" tab="users">Users</li>
            </ul>

            <div id="server" class="tab-content active">
                <div class="form-wrapper">
                    <form>
                        <div class="input-wrapper">
                            <input class="small" type="text" id="port" placeholder="server port" size="5" maxsize="5">
                            <label>Server Port:</label>
                        </div>

                        <div class="input-wrapper">
                            <input type="text" id="imagesDirectory" placeholder="images directory">
                            <label>Images Directory:</label>
                        </div>
                        
                        <div class="input-wrapper">
                            <input type="text" id="moviesDirectory" placeholder="movies directory">
                            <label>Movies Directory:</label>
                        </div>
                        
                        <div class="input-wrapper">
                            <input type="text" id="showsDirectory" placeholder="shows directory">
                            <label>Shows Directory:</label>
                        </div>

                        <input id="submitServer" type="submit" value="Save">
                    </form>
                </div>
            </div>
            <div id="playback" class="tab-content">
                <div class="form-wrapper">
                    <form>
                        <div class="input-wrapper">
                            <select id="transcoding.preset" class="small">
                                <option value="ultrafast">ultrafast</option>
                                <option value="superfast">superfast</option>
                                <option value="veryfast">veryfast</option>
                                <option value="faster">faster</option>
                                <option value="fast">fast</option>
                                <option value="medium">medium</option>
                                <option value="slow">slow</option>
                                <option value="slower">slower</option>
                                <option value="veryslow">veryslow</option>
                            </select>
                            <label>Preset:</label>
                        </div>

                        <div class="input-wrapper">
                            <input id="transcoding.crf" class="small" type="number" step="1" min="0" max="50">
                            <label>CRF</label>
                        </div>

                        <div class="input-wrapper">
                            <select id="transcoding.normalizeAudio" class="small">
                                <option value="true">On</option>
                                <option value="false">Off</option>
                            </select>
                            <label>Normalize Audio</label>
                        </div>

                        <input id="submitPlayback" type="submit" value="Save">
                    </form>
                </div>
            </div>
            <div id="users" class="tab-content">
                <% for(let user of users) { %>
                    <div class="user-tile" user-id="<%=user._id%>">
                        <p>Username: <span class="username"><%=user.username%></span></p>
                        <p>Admin: <span class="admin"><%=user.admin%></span></p>
                        <div class="row row-add-spacing">
                            <button class="btn btnEdit">Edit</button>
                            <button class="btn btn-danger btnDelete">Delete</button>
                        </div>
                    </div>
                <%}%>
                <div id="tileEditUser" class="user-tile">
                    <div class="input-wrapper">
                        <input id="editUsername" type="text">
                        <label>Username:</label>
                    </div>
                    <div class="input-wrapper">
                        <input id="editPassword" type="text">
                        <label>Password:</label>
                    </div>
                    <div class="input-wrapper">
                        <input id="editPasswordConfirm" type="text">
                        <label>Confirm Password:</label>
                    </div>
                    <div class="input-wrapper same-line">
                        <input id="editAdmin" type="checkbox" value="true">
                        <label>Admin:</label>
                    </div>

                    <p id="txtEditUserError" class="text-error"></p>

                    <button id="btnSaveEdit" class="btn btn-primary">Save</button>
                    <button id="btnCancelEdit" class="btn">Cancel</button>
                </div>
                <div id="tileNewUser" class="user-tile">
                        <div class="input-wrapper">
                            <input id="newUsername" type="text">
                            <label>Username:</label>
                        </div>
                        <div class="input-wrapper">
                            <input id="newPassword" type="text">
                            <label>Password:</label>
                        </div>
                        <div class="input-wrapper">
                            <input id="newPasswordConfirm" type="text">
                            <label>Confirm Password:</label>
                        </div>
                        <div class="input-wrapper same-line">
                            <input id="newAdmin" type="checkbox" value="true">
                            <label>Admin:</label>
                        </div>
    
                        <p id="txtNewUserError" class="text-error"></p>
    
                        <button id="btnSaveNew" class="btn btn-primary">Create</button>
                        <button id="btnCancelNew" class="btn">Cancel</button>
                    </div>
                <button id="btnCreateUser" class="btn btn-primary user-tile">
                    <h1><i class="fas fa-user-plus"></i></h1>
                </button>
            </div>
        </div>
    </body>
</html>