<div class="footer row row-add-spacing">
    <p>Clarity Media Server</p>
    <a href="https://github.com/nomad23541/clarity-media-server">Github</a>
    <a href="https://chrisreading.net/">Author's Site</a>
</div>