<div class="navbar">
    <div class="navbar-header row row-add-spacing">
        <a id="back" href="#"><i class="fas fa-arrow-left"></i></a>
        <h1><a href="/"><i class="fas fa-film"></i> Clarity</a></h1>
    </div>
    <div class="navbar-links">
        <ul>
            <li><a href="/library/search"><i class="fas fa-search"></i></a></li>
            <li><a href="/user/<%=user._id%>"><i class="fas fa-user"></i></a></li>
            <li><a href="/settings"><i class="fas fa-sliders-h"></i></a></li>
        </ul>
    </div>
</div>