<html>
    <head>
        <title>Login - Clarity</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/scripts_server/jquery/dist/jquery.min.js"></script>
        <script src="/scripts/users/login.js"></script>
    </head>
    <body>
        <% include partials/navbar.ejs %>
        <div class="container-generic-center">
            <div class="header">
                <h1>Error - <%=statusCode%></h1>
                <p><%=error%></p>
            </div>
        </div>
    </body>
</html>