<html>
    <head>
        <title>Movies - Clarity</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/scripts_server/jquery/dist/jquery.min.js"></script>
        <script src="/scripts/movies.js"></script>
    </head>
    <body>
        <% include partials/navbar.ejs %>
        <div class="container">
            <div class="header">
                <h1>Library</h1>
            </div>
            <a href="/library/movies">Movies</a>
        </div>
    </body>
</html>