<html>
    <head>
        <title>Library - Clarity</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/scripts_server/jquery/dist/jquery.min.js"></script>
        <script src="/scripts/partials/navbar.js"></script>
    </head>
    <body>
        <% include partials/navbar.ejs %>
        <div class="container">
            <div class="header">
                <h1>Library</h1>
            </div>
            <div class="library-tile-wrapper">
                <a class="library-tile" href="/library/movies">Movies</a>
                <a class="library-tile" href="/library/shows">Shows</a>
            </div>
        </div>
        <% include partials/footer.ejs %>
    </body>
</html>