<html>
    <head>
        <title>Settings - Clarity</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/scripts_server/jquery/dist/jquery.min.js"></script>
        <script src="/scripts_server/socket.io-client/dist/socket.io.js"></script>
        <script src="/scripts/settings.js"></script>
    </head>
    <body>
        <% include partials/navbar.ejs %>
        <div class="settings-container">
            <div class="settings-content">
                <div class="header">
                    <h1>Settings</h1>
                </div>
                <!-- General Settings -->
                <div class="input-wrapper" id="settingsServerPort">
                    <input type="text">
                    <label>Server Port:</label>
                </div>
                <div class="input-wrapper" id="settingsMediaDir">
                    <input type="text">
                    <label>Media Directory: </label>
                </div>
                <div class="input-wrapper" id="settingsPosterDir">
                    <input type="text">
                    <label>Poster Directory: </label>
                </div>
                <div class="input-wrapper" id="settingsApiKey">
                    <input type="text">
                    <label>TMDb Api Key: </label>
                </div>
                <!-- Transcoding Settings -->
            </div>
            <div class="row row-add-spacing">
                <button id="btnScanLibrary" class="btn">Scan Library</button>
                <button id="btnSaveSettings" class="btn btn-primary">Save Settings <i class="fas fa-save"></i></button>
            </div>

            <div id="scanLibraryDialog" class="dialog-container">
                <div class="dialog">
                    <div class="lds-dual-ring"></div>
                    <p id="scanLibraryTxt">Scanning Library... <span id="scanProgress">0%</span></p>
                </div>
            </div>
        </div>
    </body>
</html>