<html>
    <head>
        <title>Settings - Clarity</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/scripts_server/jquery/dist/jquery.min.js"></script>
        <script src="/scripts/settings.js"></script>
    </head>
    <body>
        <% include partials/navbar.ejs %>
        <div class="settings-container">
            <div class="settings-content">
                <div clsas="header">
                    <h1>Settings</h1>
                </div>
    
                <div class="input-wrapper">
                    <label>Server Port:</label>
                    <input class="textfield" type="text">
                </div>
                <div class="input-wrapper">
                    <label>Media Directory: </label>
                    <input class="textfield" type="text">
                </div>
            </div>
            <div class="settings-button-bar">
                <div class="row row-add-spacing">
                    <button class="btn">Scan Library <i class="fas fa-barcode"></i></button>
                    <button class="btn btn-primary">Save Settings <i class="fas fa-save"></i></button>
                </div>
            </div>
        </div>
    </body>
</html>