<html>
    <head>
        <title>Settings - Clarity</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/scripts_server/jquery/dist/jquery.min.js"></script>
        <script src="/scripts/settings.js"></script>
    </head>
    <body>
        <% include partials/navbar.ejs %>
        <div class="vertical-align center-align">
            <h2>Settings:</h2>
            <h1>THIS PAGE ISN'T FUNCTIONAL YET</h1>
        </div>
    </body>
</html>