/** Anything related to laying things out in the page */

/** Uses grid layout */
.details-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "poster"
        "info"
        "actors"
        "similar"
        "file-details";
    margin: 30px;
}
    
    .details-poster {
        grid-area: poster;
    }

    .details-info {
        grid-area: info;
    }

    .details-actors {
        grid-area: actors;
        overflow: hidden;
    }

    .details-similar {
        grid-area: similar;
        overflow: hidden;
    }

    .details-file-details {
        grid-area: file-details;
    }

/* Resizing */
@media (min-width: 700px) {
    .details-container {
        grid-template-areas: 
            "poster info"
            "actors actors"
            "similar similar"
            "file-details file-details";
    }
}

.media-grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(8, 1fr);
    width: 90%;
    margin: 0 auto;
}

/* Resizing */
@media (max-width: 950px) {
    .media-grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.settings-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "settings-content";
    margin: 30px;
}

    .settings-content {
        grid-area: settings-content;
        width: 80%;
        text-align: center;
    }

/* A horizontal scrollpane (think netflix) */
.scrollpane-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.card-scrollpane {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    overflow-x: auto;
    width: 100%;
}
    .card {
        flex: 0 0 auto;
    }

.radio-box-list {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;

    margin: 10px;
}

.tab {
    display: none;
}

.tabs {
    list-style: none;
}

    .tabs .tab-link {
        background: none;
        display: inline-block;
        padding: 10px 15px;
        cursor: pointer;
    }

    .tabs .tab-link.active {
        background: var(--background-alt);
    }

    .tab-content {
        width: 90%;
        display: none;
        padding: 15px;
    }

    .tab-content.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tab-content.content-row.active {
        flex-direction: row;
        justify-content: center;
    }

.form-wrapper {
    text-align: center;
    width: 100%;
    max-width: 600px;
}

    form * {
        margin: 5px;
    }

.container-generic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-generic-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

    .container-fullscreen {
        width: 100%;
        height: 100%;
    }

    .container-center {
        justify-content: center;
        align-content: center;
    }

    .align-left {
        align-items: flex-start;
    }

    .text-container {
        width: 60%;
    }

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    align-content: center;

    margin-top: 5px;
    margin-bottom: 5px;
}
    .row-center {
        justify-content: center;
    }

    .row-add-spacing * {
        margin: 0 2px;
    }

    .row-add-spacing > :first-child {
        margin-left: 0;
    }

    .row-add-spacing > :last-child {
        margin-right: 0;
    }

    .row-align-top {
        align-items: flex-start;
    }

    .row-no-wrap {
        flex-wrap: nowrap;
    }

    .row-align-left {
        justify-content: flex-start;
    }

    .row-container {
        width: 100%;
    }

@media screen and (max-width: 990px) {
    .row-no-wrap {
        flex-wrap: wrap;
    }

    .text-container {
        width: 100%;
    }
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 80%;
    text-align: center;
    margin: 15px;
}

    .header * {
        margin: 5px;
    }

    .header p {
        text-align: left;
        font-weight: 300;
        opacity: 0.6;
    }

    .header h1 {
        font-weight: 300;
    }

    .header summary:hover {
        cursor: pointer;
    }

    .header summary {
        margin-top: 10px;
        color: var(--primary);
    }

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.font-light {
    font-weight: 300;
}

.panel {
    background: var(--background-alt);
    width: 60%;
}

.dialog {
    display: none;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);

    background-color: var(--background-dark);
    border: 1px solid var(--background-alt);
}